<?php

require APP_ROOT_DIR . '/helper/ViewHelper.php';

//プルダウンリスト用HTML生成
$helper = new ViewHelper();
$selectSiteHtml = "<select name='search_sel_site' id ='search_sel_site'>\n<option id='0'></option>\n";
$selectSiteHtml .= ViewHelper::getSelectHtml('ID', 'SITE_NM', $mSiteList, $searchSelSiteId);
$selectWordHtml = "<select name='search_sel_word' id ='search_sel_word'>\n<option id='0'></option>\n";
$selectWordHtml .= ViewHelper::getSelectHtml('ID', 'WORD', $mWordList, $searchSelWordId);
$selectCateHtml = "<select name='search_sel_cate' id ='search_sel_cate'>\n<option id='0'></option>\n";
$selectCateHtml .= ViewHelper::getSelectHtml('ID', 'CATEGORY_NM', $mCateList, $searchSelCateId);

//結果TABLE用HTML生成（HEAD部)
$tableThHtml = '';
$trStyle = 'background-color:skyblue;text-align:center;';
$thStyle = 'background-color:lightgreen;';
$thWordWidth = 50;
$thWordStyle = 'word-break:break-all;';

if ($chkDisplay == 'checked') {
    $tableThHtml .= "<tr style='".$trStyle."'><th style='".$thStyle."'>Category</th><th style='".$thStyle."'>Tags</th>";
    $tableThHtml .= "<th style='".$thStyle."'>Word</th><th style='".$thStyle."'>Date</th>";
} else {
    $tableThHtml .= "<tr style='".$trStyle."'><th style='".$thStyle."'>Word</th><th style='".$thStyle."'>Date</th>";
}
for ($i = 0; $i < count($mSiteList); $i++){
    $site = $mSiteList[$i];
    $tableThHtml .= "<th width=".$thWordStyle." style='".$thWordStyle."'>".$site['ID'] . '('.$site['TYPE'] . '):<br>'. $site['SITE_SNM'].'</th>';
}
if ($chkDisplay == 'checked') {
    $tableThHtml .= "<th style='".$thStyle."'>Date</th><th style='".$thStyle."'>Word</th>";
}
$tableThHtml .= '</tr>';
$tableThHtml2 = str_replace('th', 'td', $tableThHtml);
$countTable = array();
$wkFirstDate = '';
//echo var_dump($tCountList).'<br>';

//結果TABLE用HTML生成（BODY部)
for ($i = 0; $i < count($tCountList); $i++){
    $countData = $tCountList[$i];
    $siteId = $countData['SITE_ID'];
    $date = $countData['DATE'];
    //$date = strftime('%Y/%m/%d', strtotime($date . '-0 day'));
    $wkFirstDate = ($wkFirstDate == '') ? $date : $wkFirstDate;
    $word = $countData['WORD'];
    $count = $countData['COUNT'];
    $dispCount = $countData['DISP_COUNT'];
    $countTable[$date][$word][$siteId] = $count;
    $cateNm = $countData['CATEGORY_NM'];
    $tags = $countData['TAGS'];
    $siteType = $countData['SITE_TYPE'];
//echo $date.'/'.$word.'/'.$siteId.'/'.$count.'<br>';

    if( $date != $wkDate || $word != $wkWord){
        if ($word != $wkWord && $chkDisplay2 == 'checked' && $htmlTable != '') {
            $htmlTable .= $tableThHtml2;
        }
        if ( $htmlTable == '' ) {
            $htmlTable .= '<tr>';
        }else{
            $htmlTable .= '</tr><tr>';
        }
        $tdStyle = '';
        if ($chkDisplay == 'checked') {
            $htmlTable .= "<td style='".$tdStyle."'>".$cateNm.'</td>';
            $htmlTable .= "<td style='".$tdStyle."'>".$tags.'</td>';
        }
        $htmlTable .= "<td style='".$tdStyle."'>".$word.'</td>';
        $htmlTable .= "<td style='".$tdStyle."'>".$date.'</td>';
        $value = substr($value, 0, 4) . '/' . substr($value, 4, 2) . '/' . substr($value, 6, 2);

        $wkWord = $word;
        $wkDate = $date;
    }

    //サイトタイプが2(求人)の場合、前日より増えている場合は青字にする。減っている場合は赤字にする。
    $tdStyle = 'color:black;text-align:right;';
//    if($siteType == 2 && $date != $wkFirstDate){
//        $countData2 = $wordSiteCountList[$wsIdx - 1];
//        if($countData2['COUNT'] < $count){
//            $tdStyle = 'color:blue;text-align:right;';
//        }else if($countData2['COUNT'] > $count){
//            $tdStyle = 'color:red;text-align:right;';
//        }      
//    }

    //件数が0の場合はオレンジにする。エラー(-1）の場合は紫字斜体にする。
    if ( $count == 0 ) {
        $tdStyle = 'color:orange;text-align:right;';
    } elseif ( $count == -1 ) {
        $tdStyle = 'color:purple;font-style: italic;text-align:right;';
    }
    $htmlTable .= "<td style='" . $tdStyle . "'>".$dispCount.'</td>';
    $tdStyle = 'color:black;text-align:left;';
    if ($chkDisplay == 'checked') {
        if ($i == count($tCountList)) {
            $htmlTable .= "<td style='".$tdStyle."'>".$date.'</td>';
            $htmlTable .= "<td style='".$tdStyle."'>".$word.'</td>';
        }else{
            $countData2 = $tCountList[$i + 1];
            if ($countData2['WORD'] != $wkWord || $countData2['DATE'] != $wkDate) {
                $htmlTable .= "<td style='".$tdStyle."'>".$date.'</td>';
                $htmlTable .= "<td style='".$tdStyle."'>".$word.'</td>';
            }
        }
    }

}
if(count($tCountList) == 0 ){
    $htmlTable = '<p>該当データなし</p>';
}else{
    $htmlTable .= '</tr></table>';
    $htmlTable = "<table border='1' style='border-collapse: collapse;table-layout: fixed;'>" . $tableThHtml . $htmlTable;
}

?>
<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>word daily count list</title>
</head>
<body>
<form action="./?p=CountList" method="post">
<a href="?p=CountList&f=2">月別件数リスト</a>　<a href="view/view_word.php">リアルタイム件数取得</a><br>
    日付：<input type="text" name="search_date" id="search_date" value="<?php echo $searchDate ?>" size="8" maxlength="8">
    <input type="button" value="クリア" onclick="document.getElementById('search_date').value='';">
    <input type="button" value="本日" onclick="document.getElementById('search_date').value='<?php echo $today ?>';">
    <!--サイト：<?php echo $selectSiteHtml ?>-->
    カテゴリ：<?php echo $selectCateHtml ?>
    拡張表示：<input type="checkbox" name="chk_display" id="chk_display" <?php echo $chkDisplay ?>>
    拡張表示2：<input type="checkbox" name="chk_display2" id="chk_display2" <?php echo $chkDisplay2 ?>><br>
    キーワード：<?php echo $selectWordHtml ?><input type="text" name="search_word" id="search_word" value="<?php echo $searchFreeWord ?>">
    <input type="button" value="クリア" onclick="document.getElementById('search_word').value='';document.getElementById('search_sel_word').value='';">
    <input type="submit" value="絞り込み"><br>
</form>
<?php

echo $htmlTable;
?>
</body>
</html>
